<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="2" name="Test">
        <classes>
            <class name="testCases.TC_VideoGameAPI">
                <methods>
                    <include name="test_Getallvideogames"/>
                    <include name="test_AddNewVideoGame"/>
                    <include name="test_GetVideoGamesById"/>
                    <include name="test_UpdateVideoGame"/>
                    <include name="test_DeleteVideoGame"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>